@charset "UTF-8";
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #18191f;
}

body h1,
body h2,
body h3,
body h4 {
  margin: 0;
}

body a img {
  width: 100%;
}

.bg-light {
  background-color: #f4f5f7;
}

.container {
  width: calc(100% - 330px);
}

.container .content {
  text-align: center;
}

.container .content__head {
  margin-bottom: 30px;
}

.container .content__head h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}

.container .content__head P {
  font-size: 18px;
  line-height: 32px;
}

.btn__link:hover {
  text-decoration: underline !important;
}

.ss {
  padding: 80px 0 100px;
}

.ss__head {
  background: #276ae3;
  color: #f4f5f7;
  position: relative;
}

.ss__head .content span {
  font-weight: 400;
  display: block;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 25px;
}

.ss__head::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 100px;
  background: url("Vector1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.ss__gia-tri .content__head, .ss__team .content__head, .ss__van-hoa .content__head {
  margin-bottom: 48px !important;
}

.ss__gia-tri .content__head p, .ss__team .content__head p, .ss__van-hoa .content__head p {
  margin: 10px 0;
}

.ss__gia-tri .content__cards .flex, .ss__team .content__cards .flex, .ss__van-hoa .content__cards .flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ss__gia-tri .content__cards .card, .ss__team .content__cards .card, .ss__van-hoa .content__cards .card {
  width: 100%;
  padding: 40px 32px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
          box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
}

@media (max-width: 1200px) {
  .ss__gia-tri .content__cards .card, .ss__team .content__cards .card, .ss__van-hoa .content__cards .card {
    padding: 32px 5px 32px 15px;
  }
  .ss__gia-tri .content__cards .card.mr3, .ss__team .content__cards .card.mr3, .ss__van-hoa .content__cards .card.mr3 {
    margin-right: 15px !important;
  }
}

.ss__gia-tri .content__cards .card__icon, .ss__team .content__cards .card__icon, .ss__van-hoa .content__cards .card__icon {
  width: 32px;
  height: 32px;
  text-align: left;
}

.ss__gia-tri .content__cards .card__body, .ss__team .content__cards .card__body, .ss__van-hoa .content__cards .card__body {
  padding: 56px 0 0;
  text-align: left;
}

.ss__gia-tri .content__cards .card__body h4, .ss__team .content__cards .card__body h4, .ss__van-hoa .content__cards .card__body h4 {
  font-size: 24px;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  margin: 0 0 12px;
  min-height: 94px;
}

@media (max-width: 1200px) {
  .ss__gia-tri .content__cards .card__body h4, .ss__team .content__cards .card__body h4, .ss__van-hoa .content__cards .card__body h4 {
    font-size: 23px;
  }
}

.ss__gia-tri .content__cards .card__body p, .ss__team .content__cards .card__body p, .ss__van-hoa .content__cards .card__body p {
  line-height: 26px;
  margin-bottom: 0;
}

.ss__team .content .card {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ss__team .content .card__body {
  padding: 0;
  text-align: center;
}

.ss__team .content .card__body h4 {
  min-height: auto;
}

.ss__team .content .card__body p {
  font-size: 18px;
}

.ss__van-hoa .content__head p {
  padding: 0 17%;
}

.ss__van-hoa .content__cards .card {
  padding: 40px 35px;
}

@media (max-width: 1200px) {
  .ss__van-hoa .content__cards .card {
    padding: 20px;
  }
}

.ss__van-hoa .content__cards .card__body {
  text-align: left !important;
}

.ss__van-hoa .content__cards .card__body h4 {
  min-height: auto;
  max-height: 64px;
}

.ss__van-hoa .btn__link {
  width: 183px;
  background: #276ae3;
  color: #f4f5f7;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
}

.ss__thanh-tuu {
  background: url("bg-about-resize.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.ss__thanh-tuu .content {
  color: #f4f5f7;
}

.ss__thanh-tuu .content__boxs .flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ss__thanh-tuu .content__boxs .box {
  max-width: 250px;
  padding: 0 15px;
  position: relative;
}

.ss__thanh-tuu .content__boxs .box__head h4 {
  font-size: 48px;
}

.ss__thanh-tuu .content__boxs .box__body p {
  margin: 0;
}

.ss__thanh-tuu .content__boxs .box.box-br::after {
  content: "";
  height: 100px;
  width: 1px;
  border-right: 1px solid #f4f5f7;
  position: absolute;
  right: 0;
  top: 10%;
}

.ss__khach-noi-gi {
  background-color: #06b3ff;
  position: relative;
}

.ss__khach-noi-gi .bg-img {
  width: 149px;
  height: 149px;
  position: absolute;
  top: 48px;
  right: 96px;
}

.ss__khach-noi-gi .bg-img img {
  width: 100%;
}

.ss__khach-noi-gi .bg-img::after {
  content: "";
  width: 149px;
  height: 125px;
  background-color: rgba(6, 179, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

.ss__khach-noi-gi .content__head {
  color: #f4f5f7;
  margin-bottom: 40px !important;
  text-align: left;
}

.ss__khach-noi-gi .content__text {
  background-color: #fff;
  border-radius: 10px;
  padding: 73px 32px;
  position: relative;
}

.ss__khach-noi-gi .content__text p {
  min-height: 120px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ss__khach-noi-gi .content__text::after {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  bottom: -12px;
  background-color: #fff;
}

.ss__khach-noi-gi .content__tagname {
  color: #f4f5f7;
}

.ss__khach-noi-gi .content__tagname .flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ss__khach-noi-gi .content__tagname__img {
  width: 56px;
  height: 56px;
}

.ss__khach-noi-gi .content__tagname__img img {
  width: 100%;
  height: 100%;
}

.ss__khach-noi-gi .content__tagname__text {
  margin-left: 15px;
  text-align: left;
}

.ss__khach-noi-gi .content__tagname__text h4,
.ss__khach-noi-gi .content__tagname__text p {
  margin: 0;
}

.ss__khach-noi-gi .content .slick-arrow {
  opacity: 0;
}

.ss__khach-noi-gi .content .slick-dots {
  bottom: -65px;
}

.ss__khach-noi-gi .content .slick-dots li button {
  width: 5px;
  height: 5px;
  border-radius: 30px;
  background-color: #06b3ff;
  border: 1px solid #f4f5f7;
}

.ss__khach-noi-gi .content .slick-dots li button::before {
  color: transparent;
}

.ss__khach-noi-gi .content .slick-dots li.slick-active button {
  background-color: #f4f5f7;
}

.ss__seo #btn-show-tabs,
.ss__seo .tabs-mb {
  display: none;
}

.ss__seo ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-top: 2px solid #f4f5f7;
  border-bottom: 2px solid #f4f5f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ss__seo ul.tabs li {
  background: none;
  color: #18191f;
  padding: 32px;
  cursor: pointer;
  font-size: 18px;
}

.ss__seo ul.tabs li:hover {
  background-color: #eeeff4;
}

.ss__seo ul.tabs li.current {
  background: #f4f5f7;
  font-weight: 600;
}

.ss__seo .tab-content {
  display: none;
  background: white;
  padding: 30px;
}

.ss__seo .tab-content__text {
  text-align: left;
  width: 750px;
}

.ss__seo .tab-content__text .content__head {
  margin-bottom: 0;
}

.ss__seo .tab-content__text p {
  min-height: 160px;
  font-size: 18px;
  line-height: 32px;
}

@media (max-width: 900px) {
  .ss__seo .tab-content__text p {
    font-size: 16px !important;
  }
}

.ss__seo .tab-content .btns .btn__link {
  padding: 12px 32px;
  margin-right: 15px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
}

.ss__seo .tab-content .btns .btn__link.bg-blue {
  background-color: #276ae3;
  color: #f4f5f7;
}

.ss__seo .tab-content .btns .btn__link.bg-blue-light {
  background-color: #d7f3ff;
  color: #5868e3;
}

.ss__seo .tab-content .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ss__seo .tab-content.current {
  display: inherit;
}

footer {
  background-color: #0b0d17;
  color: #f4f5f7;
}

footer .footer-top {
  padding: 80px 0 20px;
}

footer .footer-top h6 {
  margin-top: 0;
  padding: 0;
  font-size: 20px;
  line-height: 32px;
}

footer .footer-top ul {
  margin-top: 0;
}

footer .footer-top ul li .icon {
  width: 20px;
  padding-top: 2px;
}

footer .footer-top ul li .form-group {
  padding: 0;
  background-color: rgba(244, 245, 247, 0.2);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

footer .footer-top ul li .form-group input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: transparent;
  outline: none;
  color: white;
  font-weight: 600;
}

footer .footer-top ul li .form-group button {
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
}

footer .footer-top ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-top .btn__link {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

footer .footer-top .btn__link img {
  width: 100%;
  height: 100%;
}

footer .footer-bottom {
  padding: 20px 0;
}

footer .footer-bottom .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-bottom .flex a {
  text-decoration: none;
  color: #d9dbe1;
}

footer .footer-bottom .flex ul li {
  border-right: 1px solid #f4f5f7;
}

footer .footer-bottom .flex ul li a {
  display: block;
  padding: 0 10px;
  margin-right: 0;
}

footer .footer-bottom .flex ul li.br0 {
  border: none;
}

@media (max-width: 1200px) {
  .container {
    width: calc(100% - 50px);
  }
  .container .content p {
    font-size: 15px;
  }
  .container .content__head h2 {
    font-size: 40px;
  }
  .container .content__cards .max-width-3 {
    max-width: 41rem;
  }
  .container .content__cards .mb3 {
    margin-bottom: 15px !important;
  }
  .container .content__cards .card p {
    padding-right: 1px;
  }
  .container .content__boxs .box {
    max-width: 210px;
  }
  .container .content__boxs .box__body p {
    font-size: 15px;
  }
  .ss__head::after {
    bottom: -40px;
  }
  .ss__team .content .card {
    padding: 0;
  }
  .ss__seo ul.tabs li {
    padding: 25px 20px;
  }
}

@media (max-width: 900px) {
  .ss p {
    font-size: 15px;
    line-height: 32px;
  }
  .ss h4.pr2,
  .ss h4.pr3 {
    padding-right: 0;
  }
  .ss .content__head h2 {
    font-size: 35px;
  }
  .ss .slick-arrow {
    font-size: 28px;
    z-index: 1;
    position: absolute;
    top: 40%;
  }
  .ss .slick-arrow.prev {
    left: 0;
  }
  .ss .slick-arrow.next {
    right: 0;
  }
  .ss .slick-dots {
    bottom: -30px;
  }
  .ss .slick-dots li button {
    width: 5px;
    height: 5px;
    border-radius: 30px;
    background-color: #f4f5f7;
    border: 1px solid #276ae3;
  }
  .ss .slick-dots li button::before {
    content: "";
    color: transparent;
  }
  .ss .slick-dots li.slick-active button {
    background-color: #276ae3;
  }
  .ss__head::after {
    bottom: -55px;
  }
  .ss__head .content p span {
    font-size: 15px;
    line-height: 32px;
  }
  .ss__gia-tri .content__head p, .ss__team .content__head p, .ss__van-hoa .content__head p {
    padding: 0 100px;
  }
  .ss__gia-tri .content a, .ss__team .content a, .ss__van-hoa .content a {
    font-size: 15px !important;
  }
  .ss__gia-tri .content__cards .flex, .ss__team .content__cards .flex, .ss__van-hoa .content__cards .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ss__gia-tri .content__cards .card, .ss__team .content__cards .card, .ss__van-hoa .content__cards .card {
    width: auto;
    margin-bottom: 25px;
    padding: 20px 16px;
  }
  .ss__gia-tri .content__cards .card__body, .ss__team .content__cards .card__body, .ss__van-hoa .content__cards .card__body {
    padding: 32px 0 20px;
  }
  .ss__gia-tri .content__cards .card__body h4, .ss__team .content__cards .card__body h4, .ss__van-hoa .content__cards .card__body h4 {
    font-size: 28px;
    line-height: 42px;
  }
  .ss__gia-tri .content__cards .card.mr3, .ss__team .content__cards .card.mr3, .ss__van-hoa .content__cards .card.mr3 {
    margin-right: 0px !important;
  }
  .ss__gia-tri .content__cards .max-width-3, .ss__team .content__cards .max-width-3, .ss__van-hoa .content__cards .max-width-3 {
    max-width: 50rem !important;
  }
  .ss__gia-tri .content__cards .mb3, .ss__team .content__cards .mb3, .ss__van-hoa .content__cards .mb3 {
    margin-bottom: 0px !important;
  }
  .ss__van-hoa .content__head p {
    padding: 0 32px;
  }
  .ss__van-hoa .mt4 {
    margin-top: 32px;
  }
  .ss__thanh-tuu .box {
    width: 155px;
    padding: 0 10px !important;
    margin-bottom: 25px !important;
  }
  .ss__thanh-tuu .box__head h4 {
    font-size: 28px !important;
    line-height: 40px !important;
  }
  .ss__thanh-tuu .box__body p {
    line-height: 25px !important;
  }
  .ss__thanh-tuu .box.mb4 {
    margin-bottom: 0;
  }
  .ss__thanh-tuu .box.box-br::after {
    top: 15% !important;
  }
  .ss__khach-noi-gi .bg-img {
    top: 85px;
    right: 15px;
  }
  .ss__khach-noi-gi .content__head {
    width: 65%;
    margin-left: 15px;
  }
  .ss__khach-noi-gi .content__text {
    padding: 15px !important;
  }
  .ss__khach-noi-gi .content__text p {
    min-height: 200px !important;
  }
  .ss__seo .tab-content .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ss__seo .tab-content__text {
    width: 100%;
    margin: 0 0 50px;
  }
  .ss__seo .tab-content__text p {
    font-size: 15px;
    line-height: 32px;
  }
  .ss__seo .tab-content__text .btns a {
    font-size: 15px !important;
  }
  .ss__seo ul.tabs li {
    font-size: 15px;
    padding: 20px 12px;
  }
  footer {
    font-size: 15px !important;
  }
  footer .mr2 {
    margin-right: 10 !important;
  }
  footer .mx3 {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
  footer h6 {
    font-size: 18px !important;
  }
}

@media (max-width: 600px) {
  body p {
    font-size: 14px !important;
  }
  .container {
    width: calc(100% - 30px);
  }
  .container .content__head {
    padding: 0;
  }
  .container .content__head h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .container .content__head p {
    padding: 0;
    font-size: 15px;
    line-height: 28px;
  }
  .ss {
    padding: 30px 0 50px;
  }
  .ss__head .content span {
    font-size: 14px;
    line-height: 24px;
  }
  .ss__head::after {
    bottom: -76px;
  }
  .ss__gia-tri .content__cards .flex, .ss__team .content__cards .flex, .ss__van-hoa .content__cards .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ss__gia-tri .content__cards .card, .ss__team .content__cards .card, .ss__van-hoa .content__cards .card {
    margin-bottom: 15px;
    padding: 16px !important;
  }
  .ss__gia-tri .content__cards .card.mr3, .ss__team .content__cards .card.mr3, .ss__van-hoa .content__cards .card.mr3 {
    margin-right: 0 !important;
  }
  .ss__gia-tri .content__cards .card__body, .ss__team .content__cards .card__body, .ss__van-hoa .content__cards .card__body {
    text-align: left;
  }
  .ss__gia-tri .content__cards .card__body h4, .ss__team .content__cards .card__body h4, .ss__van-hoa .content__cards .card__body h4 {
    font-size: 18px;
    line-height: 28px;
    min-height: auto;
  }
  .ss__gia-tri .content__cards .card__body p, .ss__team .content__cards .card__body p, .ss__van-hoa .content__cards .card__body p {
    font-size: 14px;
    line-height: 24px;
  }
  .ss__gia-tri .content__cards .card__img, .ss__team .content__cards .card__img, .ss__van-hoa .content__cards .card__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ss__team .content .mb4 {
    margin-bottom: 0 !important;
  }
  .ss__team .content .card__body {
    text-align: center !important;
  }
  .ss__team .content .card__body h4 {
    font-size: 24px;
    line-height: 32px;
  }
  .ss__team .content .card__body p {
    font-size: 16px;
    line-height: 26px;
    margin: 0;
  }
  .ss__van-hoa .mt4 {
    margin-top: 0;
  }
  .ss__van-hoa .row.mb3 {
    margin-bottom: 0 !important;
  }
  .ss__van-hoa .btn__link {
    display: none;
  }
  .ss__van-hoa .content__head {
    padding: 0 10px;
  }
  .ss__thanh-tuu .box {
    width: 160px;
    margin-bottom: 20px !important;
  }
  .ss__thanh-tuu .box__head h4 {
    font-size: 28px !important;
    line-height: 40px !important;
  }
  .ss__thanh-tuu .box__body p {
    font-size: 14px !important;
    line-height: 24px !important;
  }
  .ss__thanh-tuu .box.mb4 {
    margin-bottom: 0;
  }
  .ss__thanh-tuu .box.mb-br.box-br::after {
    display: none;
  }
  .ss__thanh-tuu .box.box-br::after {
    top: 10% !important;
  }
  .ss__khach-noi-gi {
    padding: 50px 0 70px;
  }
  .ss__khach-noi-gi .mr3 {
    margin-right: 0 !important;
  }
  .ss__khach-noi-gi .bg-img {
    top: 90px;
    right: 30px;
  }
  .ss__khach-noi-gi .bg-img::after {
    height: 80px;
  }
  .ss__khach-noi-gi .content__head {
    width: 65%;
  }
  .ss__khach-noi-gi .content__text {
    padding: 15px !important;
  }
  .ss__seo .container {
    width: 100% !important;
  }
  .ss__seo .container .content__head h2 {
    padding: 0 20px;
  }
  .ss__seo .tab-content .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ss__seo .tab-content__text {
    width: 100%;
    margin: 0 0 50px;
  }
  .ss__seo .tab-content__text h2 {
    padding: 0 !important;
  }
  .ss__seo .tab-content__text p {
    font-size: 15px;
    line-height: 28px;
  }
  .ss__seo .tab-content__text .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ss__seo .tab-content__text .btns a {
    padding: 15px 20px !important;
    font-size: 14px !important;
  }
  .ss__seo .tab-đefault {
    display: none !important;
  }
  .ss__seo .tabs-mb {
    display: block;
  }
  .ss__seo .tabs-mb .tabs li {
    text-align: center;
  }
  .ss__seo .tabs-mb #btn-show-tabs {
    display: block;
    width: 100%;
    padding: 25px 0;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    color: #18191f;
    font-size: 18px;
    background: #eeeff4;
    border: none;
    position: relative;
    font-family: "Encode Sans", sans-serif;
  }
  .ss__seo .tabs-mb #btn-show-tabs .fa-angle-down {
    position: absolute;
    right: 20px;
    overflow: hidden;
    font-size: 24px;
  }
  .ss__seo .tabs-mb #tab-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: #fff;
  }
  .ss__seo .tabs-mb #tab-list li {
    padding: 15px 0;
    border-top: 1px solid #fff;
  }
  .ss__seo .tabs-mb .hide {
    display: none;
  }
  .ss__seo .tabs-mb .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slick-arrow {
    font-size: 28px;
    z-index: 1;
    position: absolute;
    top: 40%;
  }
  .slick-arrow.prev {
    left: 0;
  }
  .slick-arrow.next {
    right: 0;
  }
  .slick-dots {
    bottom: -30px;
  }
  .slick-dots li button {
    width: 5px;
    height: 5px;
    border-radius: 30px;
    background-color: #f4f5f7;
    border: 1px solid #276ae3;
  }
  .slick-dots li button::before {
    content: "";
    color: transparent;
  }
  .slick-dots li.slick-active button {
    background-color: #276ae3;
  }
  footer {
    font-size: 13px !important;
    line-height: 25px !important;
  }
  footer h6.mb3 {
    margin-bottom: 24px;
  }
  footer ul {
    margin: 0;
  }
  footer .sm-col {
    margin-bottom: 48px;
  }
  footer .sm-col:last-child {
    margin-bottom: 0px;
  }
  footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-bottom .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-bottom ul li {
    padding: 3px 5px;
  }
  footer .footer-bottom ul li:last-child {
    border: none;
  }
}

@media (max-width: 400px) {
  .container {
    width: calc(100% - 20px);
  }
  .container p {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  .container h2 {
    font-size: 24px !important;
  }
  .ss__head::after {
    bottom: -80px;
  }
  .ss__gia-tri .content__head, .ss__team .content__head, .ss__van-hoa .content__head {
    padding: 0 20px;
  }
  .ss__gia-tri .content__cards .card, .ss__team .content__cards .card, .ss__van-hoa .content__cards .card {
    margin-bottom: 10px;
  }
  .ss__thanh-tuu .box {
    width: 150px;
  }
  .ss__thanh-tuu .box p {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  .ss__thanh-tuu .box h4 {
    font-size: 24px !important;
  }
  .ss__khach-noi-gi .bg-img {
    top: 50px;
    right: 20px;
    width: 90px;
    height: 90px;
  }
  .ss__khach-noi-gi .bg-img::after {
    width: 100%;
    height: 80px;
  }
  .ss__seo .content__head h2 {
    padding: 0 32px !important;
  }
  .ss__seo .tab-content__img img {
    width: 100%;
    height: 100%;
  }
  .ss__seo .tab-content {
    padding: 30px 10px;
  }
  .ss__seo .tab-content__text p {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  .ss__seo .tab-content__text .content__head h2 {
    padding: 0 !important;
    font-size: 24px !important;
  }
}

@media (max-width: 330px) {
  .ss__head p span {
    font-size: 13px !important;
    line-height: 25px !important;
  }
  .ss__head::after {
    bottom: -81px;
  }
  .ss__thanh-tuu .box {
    width: 130px;
  }
  .ss__gia-tri .content__head, .ss__team .content__head, .ss__van-hoa .content__head {
    padding: 0;
  }
  .ss__seo .tab-content__img img {
    width: 100%;
    height: 100%;
  }
  .ss__seo .tab-content {
    padding: 30px 10px;
  }
  .ss__seo .tab-content__text .btns a {
    font-size: 13px !important;
    padding: 15px 10px !important;
  }
}
/*# sourceMappingURL=style.css.map */